<nav>
    <ul class="navbar">
        <li class="navbar-item">
            <a href="/" title="Go to Homepage">Home</a>
        </li>
        <li class="navbar-item">
            <a href="edit" title="Edit user profile">Edit profile</a>
        </li>
        <li class="navbar-item">
            <a href="logout" title="Log-out">Log-out</a>
        </li>
    </ul>
</nav>