<nav>
    <ul class="navbar">
        <li class="navbar-item">
            <a href="/" title="Go to Homepage">Home</a>
        </li>
        <li class="navbar-item">
            <a href="login" title="Log into an existing account">Log-in</a>
        </li>
        <li class="navbar-item">
            <a href="register" title="Create an account">Register</a>
        </li>
    </ul>
</nav>